
.container {
  width: 600px;
  height:620px;
  background-image:url("../images/wood.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

table {
  margin:auto;
  border-radius: 15px;
  margin-top: 27px;
}
.row {
  margin:auto;
}

.col-md-12{
  height:590px;
  display: block;
}
h1.firstPage {
  font-size: 23px;
  width: 150px;
  margin-left: 30px;
  display:inline-block;
}
h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  font-size: 80px;
}
h2 {
  background-color: none;
  display:inline-block;
}
td {
  border: 1px ridge grey;
  width: 50px;
  height: 50px;
}
.grid {
  border:2px solid black;
}

.compGuess {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.turn {
  font-size: 25px;
  text-align: center;
  color:
}
/*COLOUR GUESS*/
.colour {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
  display: inline-block;
  margin: auto;
}
.colourCenter {
  text-align: center;
}

.red {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: red;
  padding:5px;
}
.yellow {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: yellow;
}
.green{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: green;
}
.blue{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: blue;
}
.grey{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: grey;
}
.pink{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: pink;
}
.black {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: black;
}
.orange {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: orange;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#grey {
  background-color: grey;
}
#pink{
  background-color: pink;
}
#black {
  background-color: black;
}
#orange {
  background-color: orange;
}
/*SCORES*/
.score1 {
  text-align: center;
}
.pinScore{
  font-size: 13px;
}
.pinScore p{
  margin: auto;
  margin-left: 5px;
}
.left {
  display: inline;
  float: left;
}
.right {
  display: inline;
  float:left;
}
